RELAY_BACKEND_URL=http://localhost:8080
RELAY_SHARED_TOKEN=CHANGE_ME
RELAY_HTTP_PORT=3001
RELAY_ROOM_ID=dev-room
RELAY_PLAYER_ID=dev-player
RELAY_LOG_RAW_GSI=false
RELAY_ROUND_LIVE_DURATION_SEC=115
RELAY_BOMB_TIMER_SEC=40
RELAY_GSI_CONFIG_ENABLED=true
RELAY_GSI_URI=http://127.0.0.1:3001/gsi
RELAY_GSI_CONFIG_PATH=C:\Program Files (x86)\Steam\steamapps\common\Counter-Strike Global Offensive\game\csgo\cfg\gamestate_integration_sbe.cfg
RELAY_LAUNCHER_POLL_MS=5000
DEBUG=false
SBE_DATA_DIR=
SBE_ENV_PATH=
SBE_APP_DIR=

PLAYER_COUNT_ENABLED=true
PLAYER_COUNT_FORMULA_MODE=16x9
PLAYER_COUNT_AUTO_CALIBRATE=true
PLAYER_COUNT_SCREEN_WIDTH=1920
PLAYER_COUNT_SCREEN_HEIGHT=1080
PLAYER_COUNT_GAME_WIDTH=1440
PLAYER_COUNT_GAME_HEIGHT=1080
PLAYER_COUNT_DEBUG_PERSIST_ARTIFACTS=false

